<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtz.sm.search.dao.SearchHotListDao" >
<!-- Result Map com.qtz.sm.search.vo.SearchHotList-->
	<resultMap id="BaseResultMap" type="com.qtz.sm.search.vo.SearchHotList" >
		<result column="dmId"  property="dmId"/>
		<result column="search_type_id"  property="searchTypeId"/>
		<result column="keyword"  property="keyword"/>
		<result column="shop_id"  property="shopId"/>
		<result column="search_time"  property="searchTime"/>
		<result column="search_user"  property="searchUser"/>
		<result column="search_ways"  property="searchWays"/>

	</resultMap>

	<!-- search_hot_list table all fields -->
	<sql id="Base_Column_List" >
		t.dmId,t.search_type_id,t.keyword,t.shop_id,t.search_time,t.search_user,t.search_ways
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		<where>
			<if test="dmId != null  ">
				and t.dmId=#{dmId}
			</if>
			<if test="searchTypeId != null  ">
				and t.search_type_id=#{searchTypeId}
			</if>
			<if test="keyword != null  and keyword != '' ">
				and t.keyword=#{keyword}
			</if>
			<if test="shopId != null  ">
				and t.shop_id=#{shopId}
			</if>
			<if test="searchTime != null  ">
				and t.search_time=#{searchTime}
			</if>
			<if test="searchUser != null  ">
				and t.search_user=#{searchUser}
			</if>
			<if test="searchWays != null  ">
				and t.search_ways=#{searchWays}
			</if>

		</where>
	</sql>


	<!-- 插入记录 [说明：如果要返回当前对象，需要如下配置：<insert id="addVo" parameterType="Object" useGeneratedKeys="true" keyProperty="id">] -->
	<insert id="addVo" parameterType="Object" >
		insert into search_hot_list(dmId,search_type_id,keyword,shop_id,search_time,search_user,search_ways)
		values(#{dmId},#{searchTypeId},#{keyword},#{shopId},#{searchTime},#{searchUser},#{searchWays})
	</insert>
	<!--批量插入记录 -->
	<insert id="addList" parameterType="java.util.List">
		insert into search_hot_list(dmId,search_type_id,keyword,shop_id,search_time,search_user,search_ways) values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.dmId},#{item.searchTypeId},#{item.keyword},#{item.shopId},#{item.searchTime},#{item.searchUser},#{item.searchWays}
			)
		</foreach>
	</insert>


	<!-- 删除记录 -->
	<delete id="delId" parameterType="Object">
		delete 	 from search_hot_list where dmId = #{dmId}
	</delete>
	<!--批量删除-->
	<delete id="delIds" parameterType="java.lang.String">
		delete 	 from search_hot_list where dmId in
		<foreach item="idItem" collection="array" open="(" separator="," close=")">
			#{idItem}
		</foreach>
	</delete>
	<!--批量删除-->
	<delete id="delList" parameterType="java.util.List">
		delete 	 from search_hot_list where dmId in
		<foreach item="idItem" collection="list" index="index" open="(" separator="," close=")">
			#{idItem}
		</foreach>
	</delete>

	<!-- 根据id，修改记录-->
	<update id="modVo" parameterType="Object" >
		update search_hot_list set search_type_id=#{searchTypeId},keyword=#{keyword},shop_id=#{shopId},search_time=#{searchTime},search_user=#{searchUser},search_ways=#{searchWays} where dmId=#{dmId}
	</update>
	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="modVoNotNull" parameterType="Object" >
		update search_hot_list set
		<trim  suffixOverrides="," >
			<if test="searchTypeId != null  ">
				search_type_id=#{searchTypeId},
			</if>
			<if test="keyword != null  and keyword != '' ">
				keyword=#{keyword},
			</if>
			<if test="shopId != null  ">
				shop_id=#{shopId},
			</if>
			<if test="searchTime != null  ">
				search_time=#{searchTime},
			</if>
			<if test="searchUser != null  ">
				search_user=#{searchUser},
			</if>
			<if test="searchWays != null  ">
				search_ways=#{searchWays},
			</if>
		</trim> where dmId=#{dmId}
	</update>



	<!-- 根据id查询 热门搜索列表 -->
	<select id="findVo"  resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from search_hot_list t where t.dmId = #{dmId}
	</select>

	<!-- 热门搜索列表 列表总数-->
	<select id="queryCount" resultType="java.lang.Integer"  parameterType="Object">
		select count(1) from search_hot_list t
		<include refid="Example_Where_Clause"/>
	</select>

	<!-- 分页查询热门搜索列表列表 -->
	<select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
		select
		<include refid="Base_Column_List"/>
		from search_hot_list t
		<include refid="Example_Where_Clause"/>
		<if test="mysqlQueryCondition != null and mysqlQueryCondition != ''">
			${mysqlQueryCondition}
		</if>
	</select>

	<!-- 查询热门搜索列表列表 -->
	<select id="findList" resultMap="BaseResultMap"  parameterType="Object">
		select
		<include refid="Base_Column_List"/>
		from search_hot_list t
		<include refid="Example_Where_Clause"/>
	</select>

</mapper>