<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtz.sm.wallet.dao.WtBldIncomeSettlementDao" >
<!-- Result Map com.qtz.sm.wallet.vo.WtBldIncomeSettlement-->
<resultMap id="BaseResultMap" type="WtBldIncomeSettlement" >
	 <result column="dmId"  property="dmId"/> 
<result column="owner_id"  property="ownerId"/> 
<result column="total_amount"  property="totalAmount"/> 
<result column="opt_type"  property="optType"/> 
<result column="create_by"  property="createBy"/> 
<result column="create_time"  property="createTime"/> 
<result column="remark"  property="remark"/> 
	
</resultMap>

<!-- wt_bld_income_settlement table all fields -->
<sql id="Base_Column_List" >
	 t.dmId,t.owner_id,t.total_amount,t.opt_type,t.create_by,t.create_time,t.remark
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
<where>
	<if test="dmId != null  ">
		 and t.dmId=#{dmId}
	</if>
	<if test="ownerId != null  ">
		 and t.owner_id=#{ownerId}
	</if>
	<if test="totalAmount != null  ">
		 and t.total_amount=#{totalAmount}
	</if>
	<if test="optType != null  ">
		 and t.opt_type=#{optType}
	</if>
	<if test="createBy != null  ">
		 and t.create_by=#{createBy}
	</if>
	<if test="createTime != null  ">
		 and t.create_time=#{createTime}
	</if>
	<if test="remark != null  and remark != '' ">
		 and t.remark=#{remark}
	</if>

</where>
</sql>
   

<!-- 插入记录 [说明：如果要返回当前对象，需要如下配置：<insert id="addVo" parameterType="Object" useGeneratedKeys="true" keyProperty="id">] -->
<insert id="addVo" parameterType="Object" >
  insert into wt_bld_income_settlement(dmId,owner_id,total_amount,opt_type,create_by,create_time,remark)
 values(#{dmId},#{ownerId},#{totalAmount},#{optType},#{createBy},#{createTime},#{remark})
</insert>
<!--批量插入记录 -->
<insert id="addList" parameterType="java.util.List">
  insert into wt_bld_income_settlement(dmId,owner_id,total_amount,opt_type,create_by,create_time,remark) values
   <foreach collection="list" item="item" index="index" separator=",">
	  (
	  	 #{item.dmId},#{item.ownerId},#{item.totalAmount},#{item.optType},#{item.createBy},#{item.createTime},#{item.remark}
	  )
	  </foreach> 
</insert>


<!-- 删除记录 -->
<delete id="delId" parameterType="Object">
	delete 	 from wt_bld_income_settlement where dmId = #{dmId}
</delete>
<!--批量删除-->
<delete id="delIds" parameterType="java.lang.String">
	delete 	 from wt_bld_income_settlement where dmId in 
	<foreach item="idItem" collection="array" open="(" separator="," close=")"> 
	#{idItem}
	</foreach> 
</delete>
<!--批量删除-->
<delete id="delList" parameterType="java.util.List">
	delete 	 from wt_bld_income_settlement where dmId in 
	<foreach item="idItem" collection="list" index="index" open="(" separator="," close=")"> 
	#{idItem}
	</foreach> 
</delete>

<!-- 根据id，修改记录-->  
 <update id="modVo" parameterType="Object" >
  update wt_bld_income_settlement set owner_id=#{ownerId},total_amount=#{totalAmount},opt_type=#{optType},create_by=#{createBy},create_time=#{createTime},remark=#{remark} where dmId=#{dmId}
 </update>
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="modVoNotNull" parameterType="Object" >
	update wt_bld_income_settlement set 
	<trim  suffixOverrides="," >
	<if test="ownerId != null  ">
		owner_id=#{ownerId},
	</if>
	<if test="totalAmount != null  ">
		total_amount=#{totalAmount},
	</if>
	<if test="optType != null  ">
		opt_type=#{optType},
	</if>
	<if test="createBy != null  ">
		create_by=#{createBy},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	<if test="remark != null  and remark != '' ">
		remark=#{remark},
	</if>
	</trim> where dmId=#{dmId}
</update>


 
<!-- 根据id查询 超市收入对账结算记录 -->
<select id="findVo"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from wt_bld_income_settlement t where t.dmId = #{dmId}
</select>

<!-- 超市收入对账结算记录 列表总数-->
<select id="queryCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from wt_bld_income_settlement t 
	<include refid="Example_Where_Clause"/>
</select>

<!-- 分页查询超市收入对账结算记录列表 -->
<select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from wt_bld_income_settlement t 
	<include refid="Example_Where_Clause"/>
	
	
	
	
	<if test="orderCondition != null and orderCondition != ''" >
      ${orderCondition}
    </if>
    <if test="mysqlQueryCondition != null and mysqlQueryCondition != ''" >
       ${mysqlQueryCondition}
    </if>
</select>

<!-- 查询超市收入对账结算记录列表 -->
<select id="findList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from wt_bld_income_settlement t 
	<include refid="Example_Where_Clause"/>
</select>

</mapper>