<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtz.sm.store.dao.CsCczxAddressDao">
    <!-- cs_cczx_address table all BaseResultMap-->
    <resultMap id="BaseResultMap" type="com.qtz.sm.store.vo.CsCczxAddress">
        <result column="dmId"  property="dmId"/>
        <result column="cczx_id"  property="cczxId"/>
        <result column="province_id"  property="provinceId"/>
        <result column="city_id"  property="cityId"/>
        <result column="county_id"  property="countyId"/>
        <result column="town_id"  property="townId"/>
        <result column="address"  property="address"/>
        <result column="full_address"  property="fullAddress"/>
        <result column="longitude"  property="longitude"/>
        <result column="latitude"  property="latitude"/>
    </resultMap>
    <!-- cs_cczx_address table all fields-->
    <sql id="Base_Column_List" >
        t.dmId,
        t.cczx_id,
        t.province_id,
        t.city_id,
        t.county_id,
        t.town_id,
        t.address,
        t.full_address,
        t.longitude,
        t.latitude
    </sql>
    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        <where>
            <if test="dmId != null ">
                and t.dmId=#{dmId}
            </if>
            <if test="cczxId != null ">
                and t.cczx_id=#{cczxId}
            </if>
            <if test="provinceId != null ">
                and t.province_id=#{provinceId}
            </if>
            <if test="cityId != null ">
                and t.city_id=#{cityId}
            </if>
            <if test="countyId != null ">
                and t.county_id=#{countyId}
            </if>
            <if test="townId != null ">
                and t.town_id=#{townId}
            </if>
            <if test="address != null and address != ''">
                and t.address=#{address}
            </if>
            <if test="fullAddress != null and fullAddress != ''">
                and t.full_address=#{fullAddress}
            </if>
            <if test="longitude != null ">
                and t.longitude=#{longitude}
            </if>
            <if test="latitude != null ">
                and t.latitude=#{latitude}
            </if>
        </where>
    </sql>
    <!-- 插入记录 [说明：如果要返回当前对象，需要如下配置：<insert id="addVo" parameterType="Object" useGeneratedKeys="true" keyProperty="id">] -->
    <insert id="addVo" parameterType="Object" >
        INSERT INTO cs_cczx_address(dmId,cczx_id,province_id,city_id,county_id,town_id,address,full_address,longitude,latitude)
        VALUES(#{dmId},#{cczxId},#{provinceId},#{cityId},#{countyId},#{townId},#{address},#{fullAddress},#{longitude},#{latitude})
    </insert>
    <!--批量插入记录 -->
    <insert id="addList" parameterType="java.util.List">
        INSERT INTO cs_cczx_address(dmId,cczx_id,province_id,city_id,county_id,town_id,address,full_address,longitude,latitude) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.dmId},#{item.cczxId},#{item.provinceId},#{item.cityId},#{item.countyId},#{item.townId},#{item.address},#{item.fullAddress},#{item.longitude},#{item.latitude})
        </foreach>
    </insert>
    <!-- 删除记录 -->
    <delete id="delId" parameterType="Object">
        DELETE FROM cs_cczx_address WHERE dmId=#{dmId}
    </delete>
    <!--批量删除-->
    <delete id="delIds" parameterType="java.lang.String">
        DELETE FROM cs_cczx_address WHERE dmId IN
        <foreach item="idItem" collection="array" open="(" separator="," close=")"> #{idItem}  </foreach>
    </delete>
    <!--批量删除-->
    <delete id="delList" parameterType="java.util.List">
        DELETE FROM cs_cczx_address WHERE dmId IN
        <foreach item="idItem" collection="list" open="(" separator="," close=")"> #{idItem}  </foreach>
    </delete>
    <!-- 根据id，修改记录-->
    <update id="modVo" parameterType="Object" >
        UPDATE cs_cczx_address SET cczx_id=#{cczxId},province_id=#{provinceId},city_id=#{cityId},county_id=#{countyId},town_id=#{townId},address=#{address},full_address=#{fullAddress},longitude=#{longitude},latitude=#{latitude} WHERE dmId=#{dmId}
    </update>
    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="modVoNotNull" parameterType="Object" >
        UPDATE cs_cczx_address
        <set>
            <if test="cczxId != null ">
                cczx_id=#{cczxId},
            </if>
            <if test="provinceId != null ">
                province_id=#{provinceId},
            </if>
            <if test="cityId != null ">
                city_id=#{cityId},
            </if>
            <if test="countyId != null ">
                county_id=#{countyId},
            </if>
            <if test="townId != null ">
                town_id=#{townId},
            </if>
            <if test="address != null and address != ''">
                address=#{address},
            </if>
            <if test="fullAddress != null and fullAddress != ''">
                full_address=#{fullAddress},
            </if>
            <if test="longitude != null ">
                longitude=#{longitude},
            </if>
            <if test="latitude != null ">
                latitude=#{latitude}
            </if>
        </set>
        WHERE dmId=#{dmId}
    </update>
    <!-- 根据id查询记录 -->
    <select id="findVo"  resultMap="BaseResultMap" parameterType="Object">
        SELECT <include refid="Base_Column_List" />
        FROM cs_cczx_address t WHERE t.dmId=#{dmId}
    </select>
    <!-- 列表总数-->
    <select id="queryCount" resultType="java.lang.Integer"  parameterType="Object">
        SELECT COUNT(1) FROM cs_cczx_address t
        <include refid="Example_Where_Clause"/>
    </select>
    <!-- 分页查询列表 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        SELECT <include refid="Base_Column_List"/>
        FROM cs_cczx_address t
        <include refid="Example_Where_Clause"/>
        <if test="mysqlOrderCondition != null and mysqlOrderCondition != ''" >
        ${mysqlOrderCondition}
        </if>
    </select>
    <!-- 查询列表 -->
    <select id="findList" resultMap="BaseResultMap"  parameterType="Object">
        SELECT <include refid="Base_Column_List"/> FROM cs_cczx_address t <include refid="Example_Where_Clause"/>
    </select>
    
        <!-- 根据cczx_id查询列表 -->
    <select id="findVoByCczxId" resultMap="BaseResultMap"  parameterType="Object">
        SELECT <include refid="Base_Column_List"/> FROM cs_cczx_address t WHERE t.cczx_id=#{cczxId}
    </select>

</mapper>