<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtz.sm.stc.dao.CczxGoodsDao">

	
	
	<!-- 云仓储管理公司   商品管理   商品库   映射 -->
	<resultMap id="BaseResultMap" type="com.qtz.sm.stc.vo.CczxGoods">
		<result column="goodsId" property="goodsId" />
		<result column="goodsName" property="goodsName" />
		<result column="code" property="code" />
     
	</resultMap>
	
	<resultMap id="ListResultMap" type="com.qtz.sm.stc.vo.CczxGoods">
		<result column="goodsId" property="goodsId" />
		<result column="goodsName" property="goodsName" />
		<result column="code" property="code" />
		
		<collection property="cczxGoodsInfo" ofType="com.qtz.sm.stc.vo.CczxGoods">
			<result column="skuId" property="skuId" />
			<result column="str" property="str" />
			<result column="yccglPrice" property="yccglPrice" />
	        <result column="bldglRate"  property="bldglRate"/>
	        <result column="bldglPrice"  property="bldglPrice"/>
	        <result column="onsaleTime"  property="onsaleTime"/>       
	        <result column="goodsSkuRateDmId"  property="goodsSkuRateDmId"/> 
		</collection>
	</resultMap>
	
		<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		<where>
			<if test="goodsId != null  ">
				and t1.dmId =#{goodsId}
			</if>
			<if test="code != null and  code != '' ">
				and t1.code like CONCAT('%',#{code},'%')
			</if>
			<if test="goodsName != null and  goodsName != '' ">
				and t1.NAME like CONCAT('%',#{goodsName},'%')
			</if>
			<if test="skuId != null  ">
				and t3.dmId  like CONCAT(#{skuId},'%')
			</if>
			
			<!-- 根据便利店进货价 start -->
			<if test="bldInPriceStart != null  and bldInPriceStart !=0  ">
				 <![CDATA[ and ifnull(fn_get_price(2,t3.dmId),0) >= #{bldInPriceStart}  ]]>
			</if>
			<if test="bldInPriceEnd != null and bldInPriceEnd !=0 ">
				 <![CDATA[ and ifnull(fn_get_price(2,t3.dmId),0) <= #{bldInPriceEnd} ]]>
			</if>
			<!--根据便利店进货价  end -->
			
			<!-- 根据 仓储中心进货价 start -->
			<if test="cczxInPriceStart != null and cczxInPriceEnd !=0  ">
				 <![CDATA[ and  ifnull(fn_get_price(1,t3.dmId),0) >= #{cczxInPriceStart}  ]]>
			</if>
			<if test="cczxInPriceEnd != null and cczxInPriceEnd !=0  ">
				 <![CDATA[ and  ifnull(fn_get_price(1,t3.dmId),0) <= #{cczxInPriceEnd} ]]>
			</if>
			<!-- 根据 仓储中心进货价 end -->
		
		

			<if test="isOnsale != null  ">
				and cczx.is_onsale=#{isOnsale}
			</if>
			<if test="onsaleTimeStart != null  ">	
				 <![CDATA[ and cczx.onsale_time >=  #{onsaleTimeStart}   ]]>
			</if>
			<if test="onsaleTimeEnd != null  ">	
				 <![CDATA[ and cczx.onsale_time <=  #{onsaleTimeEnd}   ]]>
			</if>
		</where>

	</sql>
	<!-- 云仓储管理公司   商品管理   商品库   分页 -->
<!-- 	<select id="queryGoodsCczxList" resultMap="BaseResultMap" parameterType="Object"> -->
<select id="queryList" resultMap="BaseResultMap" parameterType="Object">
		SELECT
			t1.dmId AS goodsId,
			t1. NAME AS goodsName,
			t1.`code` as code
		FROM
		gd_goods AS t1
		<include refid="page_Where_Clause" />
		<if test="mysqlQueryCondition != null and mysqlQueryCondition != ''">
			${mysqlQueryCondition}
		</if>
	</select>
<!-- 	<select id="queryGoodsCczxCount" resultType="java.lang.Integer" parameterType="Object"> -->
	<select id="queryCount" resultType="java.lang.Integer" parameterType="Object">

		SELECT
			count(1) 
		FROM
		gd_goods AS t1
		<include refid="page_Where_Clause" />
	</select>
		<sql id="page_Where_Clause">
		<where>
			<if test="goodsIds != null  ">
				and t1.dmId in
				<foreach collection="goodsIds" index="index" item="item"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</sql>
	
	
	<select id="findList" resultMap="ListResultMap" parameterType="Object">
		SELECT
			t1.dmId AS goodsId,
			t1.`code` as code, 
			t1. NAME AS goodsName,
			t3.dmId AS skuId,
			fn_goods_get_sku_props_str (t3.dmId) AS str,	
		  	ifnull(fn_get_price(1,t3.dmId),0) as yccglPrice,
			ifnull(fn_get_rate(2,t3.dmId),0)  as bldglRate,
			ifnull(fn_get_price(2,t3.dmId),0)  as bldglPrice,
		  	cczx.onsale_time as onsaleTime,
			gsr.dmId as goodsSkuRateDmId
		FROM
		gd_goods AS t1
		LEFT JOIN `gd_goods_type` t2 ON t2.dmId = t1.goods_type_id
		LEFT JOIN `gd_goods_sku` t3 ON t3.goods_id = t1.dmId
		left join cs_cczx_stock cczx on cczx.sku_id=t3.dmId
		left join gd_goods_sku_rate gsr on gsr.sku_id=t3.dmId
	<include refid="Example_Where_Clause" />
	order by t1.dmId  desc
    </select>
</mapper>