<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtz.sm.common.dao.CsRegionsDao">
    <!-- cs_regions table all BaseResultMap-->
    <resultMap id="BaseResultMap" type="com.qtz.sm.common.vo.CsRegions">
        <result column="dmId"  property="dmId"/>
        <result column="parent_id"  property="parentId"/>
        <result column="name"  property="name"/>
        <result column="short_name"  property="shortName"/>
        <result column="longitude"  property="longitude"/>
        <result column="latitude"  property="latitude"/>
        <result column="city_code"  property="cityCode"/>
        <result column="zip_code"  property="zipCode"/>
        <result column="level"  property="level"/>
        <result column="sort"  property="sort"/>
        <result column="status"  property="status"/>
    </resultMap>
    <!-- cs_regions table all fields-->
    <sql id="Base_Column_List" >
        t.dmId,
        t.parent_id,
        t.name,
        t.short_name,
        t.longitude,
        t.latitude,
        t.city_code,
        t.zip_code,
        t.level,
        t.sort,
        t.status
    </sql>
    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        <where>
            <if test="dmId != null ">
                and t.dmId=#{dmId}
            </if>
            <if test="parentId != null ">
                and t.parent_id=#{parentId}
            </if>
            <if test="name != null and name != ''">
                and t.name=#{name}
            </if>
            <if test="shortName != null and shortName != ''">
                and t.short_name=#{shortName}
            </if>
            <if test="longitude != null ">
                and t.longitude=#{longitude}
            </if>
            <if test="latitude != null ">
                and t.latitude=#{latitude}
            </if>
            <if test="cityCode != null and cityCode != ''">
                and t.city_code=#{cityCode}
            </if>
            <if test="zipCode != null and zipCode != ''">
                and t.zip_code=#{zipCode}
            </if>
            <if test="level != null ">
                and t.level=#{level}
            </if>
            <if test="sort != null ">
                and t.sort=#{sort}
            </if>
            <if test="status != null ">
                and t.status=#{status}
            </if>
        </where>
    </sql>
    <!-- 插入记录 [说明：如果要返回当前对象，需要如下配置：<insert id="addVo" parameterType="Object" useGeneratedKeys="true" keyProperty="id">] -->
    <insert id="addVo" parameterType="Object" >
        INSERT INTO cs_regions(dmId,parent_id,name,short_name,longitude,latitude,city_code,zip_code,level,sort,status)
        VALUES(#{dmId},#{parentId},#{name},#{shortName},#{longitude},#{latitude},#{cityCode},#{zipCode},#{level},#{sort},#{status})
    </insert>
    <!--批量插入记录 -->
    <insert id="addList" parameterType="java.util.List">
        INSERT INTO cs_regions(dmId,parent_id,name,short_name,longitude,latitude,city_code,zip_code,level,sort,status) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.dmId},#{item.parentId},#{item.name},#{item.shortName},#{item.longitude},#{item.latitude},#{item.cityCode},#{item.zipCode},#{item.level},#{item.sort},#{item.status})
        </foreach>
    </insert>
    <!-- 删除记录 -->
    <delete id="delId" parameterType="Object">
        DELETE FROM cs_regions WHERE dmId=#{dmId}
    </delete>
    <!--批量删除-->
    <delete id="delIds" parameterType="java.lang.String">
        DELETE FROM cs_regions WHERE dmId IN
        <foreach item="idItem" collection="array" open="(" separator="," close=")"> #{idItem}  </foreach>
    </delete>
    <!--批量删除-->
    <delete id="delList" parameterType="java.util.List">
        DELETE FROM cs_regions WHERE dmId IN
        <foreach item="idItem" collection="list" open="(" separator="," close=")"> #{idItem}  </foreach>
    </delete>
    <!-- 根据id，修改记录-->
    <update id="modVo" parameterType="Object" >
        UPDATE cs_regions SET parent_id=#{parentId},name=#{name},short_name=#{shortName},longitude=#{longitude},latitude=#{latitude},city_code=#{cityCode},zip_code=#{zipCode},level=#{level},sort=#{sort},status=#{status} WHERE dmId=#{dmId}
    </update>
    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="modVoNotNull" parameterType="Object" >
        UPDATE cs_regions
        <set>
            <if test="parentId != null ">
                parent_id=#{parentId},
            </if>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="shortName != null and shortName != ''">
                short_name=#{shortName},
            </if>
            <if test="longitude != null ">
                longitude=#{longitude},
            </if>
            <if test="latitude != null ">
                latitude=#{latitude},
            </if>
            <if test="cityCode != null and cityCode != ''">
                city_code=#{cityCode},
            </if>
            <if test="zipCode != null and zipCode != ''">
                zip_code=#{zipCode},
            </if>
            <if test="level != null ">
                level=#{level},
            </if>
            <if test="sort != null ">
                sort=#{sort},
            </if>
            <if test="status != null ">
                status=#{status}
            </if>
        </set>
        WHERE dmId=#{dmId}
    </update>
    <!-- 根据id查询记录 -->
    <select id="findVo"  resultMap="BaseResultMap" parameterType="Object">
        SELECT <include refid="Base_Column_List" />
        FROM cs_regions t WHERE t.dmId=#{dmId}
    </select>
    <!-- 列表总数-->
    <select id="queryCount" resultType="java.lang.Integer"  parameterType="Object">
        SELECT COUNT(1) FROM cs_regions t
        <include refid="Example_Where_Clause"/>
    </select>
    <!-- 分页查询列表 -->
    <select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
        SELECT <include refid="Base_Column_List"/>
        FROM cs_regions t
        <include refid="Example_Where_Clause"/>
        <if test="mysqlOrderCondition != null and mysqlOrderCondition != ''" >
        ${mysqlOrderCondition}
        </if>
    </select>
    <!-- 查询列表 -->
    <select id="findList" resultMap="BaseResultMap"  parameterType="Object">
        SELECT <include refid="Base_Column_List"/> FROM cs_regions t <include refid="Example_Where_Clause"/>
    </select>

</mapper>